body {
    background-color: #eee;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}